@import "tailwindcss";

@theme {
  --color-app-bg: #050505;
  --color-app-sidebar: #0f0f12;
  --color-app-card: #16161a;
  --color-app-border: #222226;
  --color-app-text: #ffffff;
  --color-app-muted: #8e9299;
  --color-app-accent: #f27d26;
  --color-app-accent-light: #ff9d5c;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: var(--color-app-bg);
  color: var(--color-app-text);
}
